[submodule "submodules/dirsearch"]
	path = submodules/dirsearch
	url = https://github.com/StealthyTacoHaxs/dirsearch
[submodule "submodules/wfuzz"]
	path = submodules/wfuzz
	url = https://github.com/StealthyTacoHaxs/wfuzz
[submodule "submodules/impacket"]
	path = submodules/impacket
	url = https://github.com/fortra/impacket.git
